<ion-content class="ion-content-player" fullscreen="true">
  <ion-header>
    <ion-toolbar class="transparent-header">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Olivia Lyric</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="song-info-container">
    <div class="song-image">
      <ion-img src="assets\AlbumCover.png" alt="SongCover"></ion-img>
    </div>

    <ion-row class="song-info">
      <ion-col size="7">
        <p class="song-title">Island Gateway</p>
        <p class="song-subtitle">Olivia Lyric</p>
      </ion-col>
      <ion-col size="5" class="icons-col">
        <ion-icon
          [name]="isFavorite ? 'heart' : 'heart-outline'"
          [class]="isFavorite ? 'heart-icon-fav' : 'heart-icon'"
          (click)="makeFavorite()"
        ></ion-icon>
        <ion-icon name="share-social-outline" class="share-icon"></ion-icon>
      </ion-col>
    </ion-row>
  </div>

  <ion-range class="range" [(ngModel)]="rangeValue" (ionChange)="onIonChange($event)"></ion-range>

  <ion-row class="controls">
    <ion-col size="auto">
      <ion-icon name="repeat" class="icon-sides"></ion-icon>
    </ion-col>
    <ion-col size="auto">
      <ion-icon name="play-skip-back-outline" class="icon-sides"></ion-icon>
    </ion-col>
    <ion-col size="auto">
      <ion-icon
        [name]="isPlaying ? 'pause-circle' : 'play-circle'"
        class="icon-play"
        (click)="playMusic()"
      ></ion-icon>
    </ion-col>
    <ion-col size="auto">
      <ion-icon name="play-skip-forward-outline" class="icon-sides"></ion-icon>
    </ion-col>
    <ion-col size="auto">
      <ion-icon name="shuffle" class="icon-sides"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-card class="lyrics-card">
    <ion-card-content>
      <ion-row class="lyrics-title">
        <ion-col size="6">
          <p>Lyrics</p>
        </ion-col>
        <ion-col size="6" class="icons-col">
          <ion-icon name="expand" class="lyrics-icon" (click)="toggleExpand()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row [class.expanded]="isExpanded" class="lyrics-container">
        <p class="lyrics-text">{{ currentLyric }}</p>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
