<ion-content class="body">
  <div class="content-container"></div>
  <div class="divider divider-1"></div>
  <div class="divider divider-2"></div>

  <ion-grid class="followers-following-container">
    <ion-row>
      <ion-col size="6">
        <div class="followers-following-text">{{ userInfo.followers }}</div>
        <div class="followers-following-label">FOLLOWERS</div>
      </ion-col>
      <ion-col size="6">
        <div class="followers-following-text">{{ userInfo.following }}</div>
        <div class="followers-following-label">FOLLOWING</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="profile-container">
    <div class="edit-profile-button" (click)="editProfile()">Edit Profile</div>
    <img class="profile-image" [src]="userInfo.profileImage || 'https://via.placeholder.com/96x96'" />
  </div>

  <div class="name">{{ userInfo.name }}</div>

  <div class="playlists-container">
    <div class="playlists-header">Playlists</div>

    <ion-list>
      <ion-item *ngFor="let playlist of userInfo.playlists" class="playlist-item" lines="none">
        <ion-avatar slot="start">
          <img [src]="playlist.image || 'https://via.placeholder.com/50x50'">
        </ion-avatar>
        <ion-label>
          <h2>{{ playlist.name }}</h2>
          <p>{{ playlist.likes }} Likes</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-button expand="block" fill="outline" class="show-all-playlists-button">
      Afficher toutes les playlists
    </ion-button>
  </div>
</ion-content>
