ion-header{
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

ion-toolbar {
  --opacity: 0;
}

ion-back-button{
  color: white;
}

img{
  height: 20%;
  width: 20%;
  border-radius: 50% !important;
  overflow: hidden;
}
