<ion-list>

  <ion-list-header *ngIf="hasHeader">
    <ion-label>{{ headerTitle }}</ion-label>
    <ion-button>See All</ion-button>
  </ion-list-header>

  <ion-item *ngFor="let song of songs">
    <ion-thumbnail slot="start">
      <img src="assets/img/placeholder.PNG" />
    </ion-thumbnail>
    <ion-label>
      <h3>{{ song.title }}</h3>
      <p>{{ song.artist }}</p>
    </ion-label>
    <ion-note>{{ song.duration }}</ion-note>
    <ion-icon slot="end" name="ellipsis-horizontal"></ion-icon>
  </ion-item>

</ion-list>
