ion-content {
  --background: rgb(122,111,249);
  --background: linear-gradient(186deg, rgba(122,111,249,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.container {
  height: 812px;
  position: relative;
}

.title {
  position: absolute;
  top: 122px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 20px;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
}

.name-fields {
  position: absolute;
  top: 176px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.input-container {
  width: 48%;
}

.single-input-container {
  position: absolute;
  width: 320px;
  left: 50%;
  transform: translateX(-50%);
}

.single-input-container:nth-child(3) { top: 262px; }
.single-input-container:nth-child(4) { top: 347px; }
.single-input-container:nth-child(5) { top: 432px; }
.single-input-container:nth-child(6) { top: 517px; }

.label {
  color: #344054;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 500;
}

.input {
  background: white;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  padding: 10px 14px;
}

.gender-selection {
  position: absolute;
  top: 609px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
}

.signup-button {
  position: absolute;
  top: 668px;
  left: 50%;
  transform: translateX(-50%);
  background: #15AB90;
  border-radius: 10px;
}

.already-registered {
  position: absolute;
  top: 731px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #15AB90;
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 500;
}
