<ion-list>

  <ion-list-header *ngIf="hasHeader">
    <ion-label>{{ headerTitle }}</ion-label>
    <ion-button class="seeAllButton" *ngIf="hasGetAll" href="/list-song">See All</ion-button>
  </ion-list-header>

  @if (value === 'lastPlayedSongs') {
  <ion-item *ngFor="let item of lastPlayedSongs">
    <ion-thumbnail slot="start" (click)="playerSongPage()">
      <img src="assets/img/placeholder.PNG" />
    </ion-thumbnail>
    <ion-label (click)="playerSongPage()">
      <h3>{{ item.title }}</h3>
      <p>{{ item.artist_name }}</p>
    </ion-label>
    <!-- TODO -->
    <ion-note>{{ item.duration }}</ion-note>
    <ion-icon slot="end" name="ellipsis-horizontal" id="present-alert" (click)="presentAlert()"></ion-icon>
  </ion-item>
  }
  @if (value === 'songList') {
    <ion-item *ngFor="let item of songList">
      <ion-thumbnail slot="start" (click)="playerSongPage()">
        <img src="assets/img/placeholder.PNG" />
      </ion-thumbnail>
      <ion-label (click)="playerSongPage()">
        <h3>{{ item.title }}</h3>
        <p>{{ item.artist_name }}</p>
      </ion-label>
      <!-- TODO -->
      <ion-note>{{ item.duration }}</ion-note>
      <ion-icon slot="end" name="ellipsis-horizontal" id="present-alert" (click)="presentAlert()"></ion-icon>
    </ion-item>
    }

</ion-list>
