<ion-app class="ion-padding">

  <!-- startIcon : profile, back -->
  <!-- endIcon : search, dotes -->
  <app-header startIcon="profile" headerTitle="" endIcon="search"></app-header>

  <ion-content [fullscreen]="true">
    <ion-card class="new-album">
      <ion-card-header>
        <ion-card-title>R & B Hits</ion-card-title>
        <ion-card-subtitle>New Album</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Discover 87 songs!</p>
        <ion-icon name="arrow-forward-outline"></ion-icon>
        <img src="assets/img/placeholder.PNG" />
      </ion-card-content>
    </ion-card>

    <div class="music-genres">
      <ion-list-header>
        <ion-label>Music Genres</ion-label>
        <ion-button class="seeAllButton">See All</ion-button>
      </ion-list-header>
      <ion-segment>
        <ion-segment-button value="all">
          <ion-label>All</ion-label>
        </ion-segment-button>
        <ion-segment-button value="rnb">
          <ion-label>R&B</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pop">
          <ion-label>Pop</ion-label>
        </ion-segment-button>
        <ion-segment-button value="rock">
          <ion-label>Rock</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="top-songs">

      <ion-list-header>
        <ion-label>Top Songs</ion-label>
        <ion-button class="seeAllButton">See All</ion-button>
      </ion-list-header>

      <div class="card-container">
        <ion-row>
          <ion-col *ngFor="let song of topSongs" >
            <ion-card>
              <img src="assets/img/placeholder.PNG" alt="song" />
              <ion-card-content>
                <h3>{{ song.artist }}</h3>
                <p>{{ song.title }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>

    </div>

    <app-song-list headerTitle="Last Played" [hasHeader]="true"></app-song-list>

  </ion-content>
</ion-app>
