
app-home{
  width: 100%;
}

.top-songs, .last-played {
  margin: 20px 0;
}

ion-card {
  margin: 10px 0;
}

ion-segment {
  margin: 20px 0;
}

.card-container {
  display: flex;  /* Set the container to display elements flexibly */
  flex-wrap: wrap;  /* Allow cards to wrap to multiple lines if needed */
}

.card {
  margin: 2%;  /* Add some margin between cards for spacing */
  width: calc(33% - 20px);  /* Set card width to 50% of container minus margins */
}

.profile-img{
  height: 25%;
  width: 25%;
  border-radius: 50% !important;
  overflow: hidden;
}

