
app-home{
  width: 100%;
}

.top-songs {
  margin: 20px 0;
}

ion-card {
  margin: 10px 0;
}

ion-segment {
  margin: 20px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 2%;
  width: calc(33% - 20px);
}

