app-home {
  width: 100%;
}

//new album
.new-album {
  //margin: 10px 0;
  //padding: 10px;
  margin-bottom: auto;
  ion-icon {
    font-size: 25px;
    padding-top: 3%;
    margin-bottom: -2%;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-54%);
    width: 44%;
  }
}

//music genres
.music-genres {
  //margin: 10px 0;
  //padding: 10px;

  ion-segment {
    background-color: transparent;
  }

  ion-segment-button {
    --indicator-color: #08a391;
    margin: auto;
    padding: 3px 0px;
  }

  /* Material Design styles */
  ion-segment-button.md {
    --color-checked: #08a391;
    --indicator-height: 4px;
  }

  /* iOS styles */
  ion-segment-button.ios {
    --color-checked: #fff;
    --border-radius: 20px;
    border: solid 1px;
  }
}

ion-list-header{
  padding-bottom: 15px;
}


