ion-list-header{
  padding-bottom: 15px;
}

.top-songs {

  img{
    border-radius: 16px;
  }
  .card-container{

  }
  ion-col{
    padding: 0;
    margin-right:16px;
    margin-left:16px;
  }
  ion-card{
    margin: 0;
    background-color: transparent;
  }
  ion-card-content{
    padding: 0;
    padding-top: 10px;
    text-align: center;
    h3{
      color:white;
    }
  }
}

.top-artists-style {
  img{
    border-radius: 50px !important;
  }
}
